.App {
  text-align: center;
  background-color: #30384a;
}

#outputCanvas {
  width: 100%;
  height: 100%;
  background-color: #30384a;
}

.cssModal input{
  border: 2px outset #9baabd;
  margin: 3px;
}

/* .cssModal form{
  max-width: 194px;
} */

.cssModal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 700;
  width: inherit;
  outline: 0;
  min-width: 250px;
  background-color: #30384a; 
  border-radius: 8px;
  padding: 0px;
}

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(129, 141, 156, 0.7);
  z-index: 500;
}

  /* don't adjust padding or margin here as it ruins borders. */
.modalHeader {
  width: 100%;
  border-bottom: 2px solid #ff5e79;
}

.modalHeader p{
  /* padding-bottom: 4px; */
  padding-left: 3px;
  margin: 0;
  font-size: 1.3rem;
  align-self: center;
  color: #8e9baa;
}

.modalHeader button{
  margin-top: 4px;
  margin-left: 5px;
  margin-bottom: 3px;
  /* border: 2px outset #8e9baa; */
} 

.btnCloseModal {
  position:absolute; 
  top: 2px;
  right: 5px;
  font-size: 0.8rem;
  /* border: 2px solid rgb(185, 0, 0); */
  border-radius: 3px;
  margin-left: 0.5rem;
  background: none;
  color: rgb(218, 218, 218);
}

.btnCloseModal:hover {
  cursor: pointer;
  background-color: #50586c;
  border-color: #ff5e79;
}

/* .modalHeader button:hover{
  cursor: pointer;
  background-color: #50586c;
  border-color: #ff5e79;
} */

.modalFooter{
  padding: 0;
  overflow-x: auto;
  height: auto;
  width: 100%;
  color:#8e9baa;
  position: relative;
  border-top: 2px inset #9baabd;
  margin-bottom: 3px;
}

.modalFooter p{
  padding-left: 4px;
  margin: 0px;
}

.modalContent{
  /* border-top: 2px outset #8e9baa; */
  border-bottom: 2px inset #8e9baa;
  color:rgb(218, 218, 218);
  padding-left: 3px;
}

.modalContent button:hover{
  cursor: pointer;
  background-color: #50586c;
  border-color: #ff5e79;
  /* rgb(218, 0, 0); */
}

.submitButton:hover{
  cursor: pointer;
  background-color: #50586c;
  border-color: #ff5e79;
  /* rgb(218, 0, 0); */
}

.cssModal button:disabled:hover {
  cursor: default;
  border: 2px outset #8e9baa;
  background-color: #a1a4a880;
}

.isShownTab {
  background-color: #ff5e79;
  border: none;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  padding: 3px;
  box-shadow: 0px 4px 0px 0px #ff5e79;
}

.isShownTab:focus {
  outline: none;
}

.isNotShownTab {
  border: none;
  padding: 3px;
  border-radius: 4px;
  background-color: rgb(218, 218, 218);
}

body {
  align-content: center;
}